:80 {
        root * /srv
        encode zstd gzip
        log {
                output stdout
                format json
        }

        handle_path /api/* {
                rewrite * /api/v1{uri}
                reverse_proxy https://app.catma.de {
                    header_up Authorization "Bearer ${VITE_API_TOKEN}"
                    header_up Host app.catma.de
                }
            }

        handle {
                try_files {path} /index.html
                file_server
        }
}